@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


/*--------------------------------------------general --*/
body{
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: left;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    background-color: #000;
    background-image:url(../images/background1.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;  
    background-position: center center;
    background-position: fixed;
    max-width: 100vw;
    height: auto;
    color: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (min-width:768px){
    body{
        font-size:1rem;
        letter-spacing: 2px;
          }
    }

/*--------------------------------------------Navigation --*/
.navbar{
    margin-bottom: 0;
    border: 0;
    background-color: rgba(236, 189, 26, 1) ;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 1rem;
}

.navbar-brand{
    padding-left: 15px;
    display: inline-block;
    font-family: "Lato", sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    height: 2.6rem;
    width: auto;
    text-align: left;
    font-style: italic;
}

.navbar-nav{
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 0;
    margin-right: 0;
}

.navbar-nav li{
    text-align: right;
}

/*---------------------------------Instruction Container --*/
.ins{
    margin-top: 5rem;
    margin-bottom: 1.25rem;
    padding:0 .65rem;
}

.ins h4{
     font-style: italic;
}

.ins p{
    font-size: 1rem;
}
.moves{
    margin-top: 5px;
    text-align: center;
    color: #000;
    font-size: 1.25rem;
}

.stars{
    text-align: center;
}
.moves-counter{
    margin-left: 1.25rem;
}

.restart-btn, .diff-selector, .play-btn{
    font-size: 1rem;
    background-color: rgba(236, 189, 26, 1) ; 
    color: #000;
    margin: .65rem;
}

/*---------------------------------Game Container --*/
/*-----Code for the game container section is referred from https://marina-ferreira.github.io/tutorials/js/memory-game/---*/

.memory-game{
    height: 31.25rem;
    margin-top: 3.25rem;
    margin-left: 0.32rem;
    display: flex;
    flex-wrap: wrap;
    perspective: 62.5rem;
    overflow: hidden;
    margin-bottom: 3.125rem;
}

.memory-card{
    width: calc(25% - 0.625rem);
    height:  calc(25% - 0.625rem);
    margin: 0.188rem;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

/*--Tranformation when card is active--*/
.memory-card:active{
    transform: scale(1.1);
    transition: transform .3s;
}

/*--Change cursor when over a card--*/
.memory-card:hover{
    cursor: pointer;
}

/*--Flip card when clicked--*/
.memory-card.flip{
    transform: rotateY(180deg);
}

/*------Change from front to back face--*/
.front-face, .back-face{
    width: 100%;
    height: 100%;
    padding: 0.313rem;
    position: absolute;
    border-radius: 0.313rem;
    backface-visibility: hidden;
}

/*--change from back to front to show pokemon*/
.front-face{
    transform: rotateY(180deg);
}

/*---------------------------Pokemon selector*/
.select-poke{
    margin-top:4rem;
    margin-left: 0.625rem;
    width: 100vw;
    height: 3.125rem;
}

.poke-selector{
    background-color: rgba(236, 189, 26, 1);
    color: #000;
}

.select-poke-header{
    margin-top: 1.25rem;
    margin-left: 1.875rem;
    color:rgba(236, 189, 26, 1);
    font-size: 1.25rem;
    font-weight: 400;
}

/*-----------Progress bar*/
/*--- The css code for progress section is referred from Rosie resume miniproject*/
.progress{
    position: relative;
    height: 1.56rem;
    margin-bottom: 0.75rem;
}

.progress-type{
    position: absolute;
    left: 0.625rem;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0.625rem 1.875rem 0.125rem 0.625rem;
    color: #000;
}

.progress-section{
    margin: 2.5rem 1.25rem;
}
/*-------------- Progress bar ends*/

/*--------------- pokemon image section*/
.img-fluid{
    width: 60%;
    max-width: 25rem;
    height: auto;
    margin-left: 4.375rem;
    margin-bottom: 3.75rem;
}

.hide{
     display: none;
 }

 #poke-select-header{
     text-align: center;
     color:#000;
     margin-top: 0.625rem;
     background-color: rgba(236, 189, 26, .8);
     border-radius: 0.625rem;
 }
/*-----------------------pokemon selector ends*/

/*-------------------------Footer*/
footer{
    color: #000;
    margin: 0;
    background-color: rgba(236, 189, 26, 1);
    height: 2.5rem;
    padding: 0;
    bottom: 0;
    width: 100%;
}

.social-links{
    padding-bottom: 1.25rem;
    float: none;
}

.social-links li a i {
    height: 2rem;
    width: 2rem;
    padding: 0.75rem 0;
    border-radius: 50%;
    font-size: 1.25rem;
    line-height: 0.625rem;
    text-align: center;
    color: #fff;
    background-color: #000;
}

.list-inline-items {
    padding: 0.625rem;
    display: inline-block;
}

#footer-details{
    text-align: center;
}
/*--------------------footer ends*/

/*--------------------Contact form*/
/*-------------------Code for contact form is referred from Rosie resume miniproject*/
.contact-heading{
    font-family: "Lato", sans-serif;
    font-weight: 300;
    margin-top: 4.375rem;
    margin-bottom: 1.25rem;
}

.center-form{
    padding-top: 0.625rem;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"]{
    margin-top: 1rem;
    margin-bottom: 1.25rem;
    background-color: rgba(236, 189, 26, 1);
    color: #000;
}

/* stars container on game page*/
.stars{
    margin: 0;
    padding: 0;
    display: inline-block;
}

/*--------------------stars */
.stars li{
    list-style: none;
    display: inline-block;
    font-size: 1.25rem;
}

/*--------- overlay for popup*/
.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:transparent;
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target{
    visibility: visible;
    opacity: 1;
}

/*------------------Modal popup */
.popup{
    margin: 12.5rem auto;
    padding: 1.875rem;
    background:rgba(47, 68, 96, 1);
    border-radius: 0.313rem;
    width: 70%;
    position: relative;
    transition: all 5s ease-in-out;
    color: #fff;
}

.popup h2{
    margin-top: 0;
    color: #fff;
    text-align: center;
}

.popup .close{
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
    transition: all 200ms;
    font-size: 1.25rem;
    font-weight: 400;
    color: #fff;
}

.popup .content-1, .content-2{
    max-height: 30%;
    overflow: auto;
    text-align: center;
    color: #fff;
    list-style: none;
}

.show{
    visibility: visible !important;
    opacity: 100 !important;
}

