@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


/*--------------------------------------------general --*/
body{
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: left;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    background-color: #000;
    background-image:url(../images/background1.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;  
    background-position: center center;
    background-position: fixed;
    max-width: 100vw;
    height: auto;
    color: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (min-width:768px){
    body{
        font-size:1rem;
        letter-spacing: 2px;
          }
    }

/*--------------------------------------------Navigation --*/
.navbar{
    margin-bottom: 0;
    border: 0;
    background-color: rgba(236, 189, 26, 1) ;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 1rem;
}

.navbar-brand{
    padding-left: 15px;
    display: inline-block;
    font-family: "Lato", sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    height: 2.6rem;
    width: auto;
    text-align: left;
    font-style: italic;
}

.navbar-nav{
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 0;
    margin-right: 0;
}

.navbar-nav li{
    text-align: right;
}

/*---------------------------------Instruction Container --*/
.ins{
    margin-top: 80px;
    margin-bottom: 20px;
    padding:0 10px;
}

.ins h4{
     font-style: italic;
}

.ins p{
    font-size: 14px;
}
.moves{
    margin-top: 5px;
    text-align: center;
    
    color: #000;
    font-size: 20px;
}

.stars{
    text-align: center;
}
.moves-counter{
    margin-left: 20px;
}


.restart-btn, .diff-selector{
    font-size: 15px;
    background-color: rgba(236, 189, 26, 1) ; 
    color: #000;
    margin: 10px;
}
/*---------------------------------Game Container --*/

.memory-game{

    height: 620px;
    margin-top: 50px;
    margin-left: 5px;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
   overflow: hidden;
}

.memory-card{
    width: calc(25% - 10px);
    height:  calc(25% - 10px);
    margin: 3px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

/*--Tranformation when card is active--*/
.memory-card:active{
    transform: scale(1.1);
    transition: transform .3s;
}

/*--Change cursor when over a card--*/
.memory-card:hover{
    cursor: pointer;
}

/*--Flip card when clicked--*/
.memory-card.flip{
    transform: rotateY(180deg);
}

/*--Change from front to back face--*/
.front-face, .back-face{
    width: 100%;
    height: 100%;
    padding: 5px;
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;
}

/*--change from back to front to show pokemon*/
.front-face{
    transform: rotateY(180deg);
}

/*--Pokemon selector*/
.select-poke{
    margin-top:65px;
    margin-left: 10px;
    width: 100vw;
    height: 50px;
}

.poke-selector{
    background-color: rgba(236, 189, 26, 1);
    color: #000;
}

.select-poke-header{
    margin-top: 20px;
    margin-left: 30px;
    color:rgba(236, 189, 26, 1);
    font-size: 20px;

}



/*--Progress bar*/
.progress{
    position: relative;
    height: 25px;
    margin-bottom: 12px;
    
}

.progress-type{
    position: absolute;
    left: 10px;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 30px 2px 10px;
    color: #000;
   
}

.progress-section{
    margin: 40px 20px;
}
/*-- Progress bar ends*/

/*-- pokemon image section*/
.img-fluid{
    width: 60%;
    max-width: 400px;
    height: auto;
    margin-left: 70px;
    margin-bottom: 30px;
    
    
}


 .hide{
     display: none;
 }

 #poke-select-header{
     text-align: center;
     color:#000;
     margin-top: 10px;
     background-color: rgba(236, 189, 26, .8);
     border-radius: 10px;
 }
/*-----------------------pokemon selector ends*/

/*-------------------------Footer*/
footer{
    color: #000;
    margin: 0;
    background-color: rgba(236, 189, 26, 1);
    height: 40px;
    padding: 0;
    bottom: 0;
    width: 100%;
}

.social-links{
    padding-bottom: 20px;
    float: none;
}

.social-links li a i {
    height: 32px;
    width: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 16px;
    line-height: 15px;
    text-align: center;
    color: #fff;
    background-color: #000;
}

.list-inline-items {
    padding: 10px;
    display: inline-block;
    
}
#footer-details{
    text-align: center;
}
/*--------------------footer ends*/

/*--------------------Contact form*/
.contact-heading{
    font-family: "Lato", sans-serif;
    font-weight: 300;
    margin-top: 70px;
    margin-bottom: 20px;
}

.center-form{
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"]{
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: rgba(236, 189, 26, 1);
    color: #000;
}

/* stars container on game page*/
.stars{
    margin: 0;
    padding: 0;
    display: inline-block;
}
/*stars */
.stars li{
    list-style: none;
    display: inline-block;
    font-size: 20px;
}

/* overlay for popup*/
.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
   background:transparent;
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target{
    visibility: visible;
    opacity: 1;
}

/*Modal popup */
.popup{
    margin: 200px auto;
    padding: 30px;
    background:rgba(236, 189, 26, .5);
    border-radius: 5px;
    width: 70%;
    position: relative;
    transition: all 5s ease-in-out;
    color: #000;
}

.popup h2{
    margin-top: 0;
    color: #000;
    text-align: center;
}
.popup .close{
    position: absolute;
    top: 10px;
    right: 10px;
    transition: all 200ms;
    font-size: 20px;
    font-weight: 400;
    color: #000;
}

.popup .content-1, .content-2{
    max-height: 30%;
    overflow: auto;
    text-align: center;
    color: #000;
}

.show{
    visibility: visible !important;
    opacity: 100 !important;
}

