@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


/*--------------------------------------------general --*/
body{
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: left;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    background-image:url(../images/background.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;  
    background-position: center center;
    background-position: fixed;
    max-width: 100vw;
    height: auto;
    color: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (min-width:768px){
    body{
        font-size:1rem;
        letter-spacing: 2px;
          }
    }

/*--------------------------------------------Navigation --*/
.navbar{
    margin-bottom: 0;
    border: 0;
    background-color: rgba(236, 189, 26, 1) ;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 1rem;
}

.navbar-brand{
    padding-left: 15px;
    display: inline-block;
    font-family: "Lato", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    height: 2.6rem;
    width: auto;
    text-align: left;
    font-style: italic;
}

.navbar-nav{
    font-family: "Lato", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 0;
    margin-right: 0;
}

.navbar-nav li{
    text-align: right;
}

/*---------------------------------Instruction Container --*/
.ins{
    margin-top: 100px;
    margin-bottom: 20px;
    padding:0 10px;
}

.ins h4{
     font-style: italic;
}

.ins p{
    font-size: 14px;
}

.restart-btn, .diff-selector{
    font-size: 15px;
    background-color: rgba(236, 189, 26, 1) ; 
    color: #000;
    margin: 10px;
}
/*---------------------------------Game Container --*/

.memory-game{
    height: 620px;
    margin-top: 50px;
    margin-left: 5px;
    display: flex;
    flex-wrap: wrap;
    perspective: 800px;
    overflow: hidden;
}

.memory-card{
    width: calc(25% - 10px);
    height:  calc(25% - 10px);
    margin: 3px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

/*--Tranformation when card is active
.memory-card:active{
    transform: scale(1.1);
    transition: transform .3s;
}--*/

/*--Change cursor when over a card
.memory-card:hover{
    cursor: pointer;
}--*/

/*--Flip card when clicked
.memory-card.flip{
    transform: rotateY(180deg);
}--*/

/*--Change from front to back face--*/
.front-face, .back-face{
    width: 100%;
    height: 100%;
    padding: 5px;
    position: absolute;
    border-radius: 5px;
    /*-webkit-backface-visibility: hidden;*/
}

/*--change from back to front to show pokemon
.front-face{
    transform: rotateY(180deg);
}--*/


